@model SuraswadeeWeb.Models.Student

@{
    ViewBag.Title = "StudentDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="well">
    <h2 class="text-center">รายละเอียดการสมัคร</h2>

    @* ข้อมูลผู้ปกครอง *@
    <div>
        <h3 class="text-center">ข้อมูลผู้ปกครอง</h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">ชื่อ-นามสกุล</label>
                <div class="col-md-6">
                    <h5>@Model.ParentTitle @Model.ParentFirstName @Model.ParentLastName</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">อยู่บ้านเลขที่</label>
                <div class="col-md-6">
                    <h5>@Model.ParentHomeNo</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">หมู่ที่</label>
                <div class="col-md-6">
                    <h5>@Model.ParentMoo</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ถนน</label>
                <div class="col-md-6">
                    <h5>@Model.ParentDistrict</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ตำบล</label>
                <div class="col-md-6">
                    <h5>@Model.ParentTambon</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">อำเภอ</label>
                <div class="col-md-6">
                    <h5>@Model.ParentAmpere</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">จังหวัด</label>
                <div class="col-md-6">
                    <h5>@ViewBag.Province</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">รหัสไปรษณี</label>
                <div class="col-md-6">
                    <h5>@Model.ParentProvince</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">อาชีพ</label>
                <div class="col-md-6">
                    <h5>@Model.ParentOccupation</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">สถานที่ทำงาน</label>
                <div class="col-md-6">
                    <h5>@Model.ParentOccupationLocation</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">หมายเลขโทรศัพท์ ผู้ปกครอง</label>
                <div class="col-md-6">
                    <h5>@Model.ParentMoblie</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">มีฐานะเป็น</label>
                <div class="col-md-6">
                    <h5>@ViewBag.ParentStatus</h5>
                </div>
            </div>
        </form>
    </div>
    @* ข้อมูลนักเรียน *@
    <div>
        <h3 class="text-center">ข้อมูลนักเรียน</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">หลักสูตรที่สมัคร</label>
                <div class="col-md-6">
                    <h5>@ViewBag.CourseType</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ปีการศึกษา</label>
                <div class="col-md-6">
                    <h5>@ViewBag.CourseYear</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ชื่อ-นามสกุล</label>
                <div class="col-md-6">
                    <h5>@Model.ParentTitle @Model.StudentFIrstName @Model.StudentLastName</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ชื่อเล่น</label>
                <div class="col-md-6">
                    <h5>@Model.StudentNickName</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">วันเดือนปีเกิด</label>
                <div class="col-md-6">
                    <h5>@Model.StudentBirthDay.ToString("dd/MM/yyyy")</h5>
                </div>
            </div>
            @*<div class="form-group">
                <label class="col-md-4 control-label">อายุ</label>
                <div class="col-md-6">
                    <h5>10 ขวบ</h5>
                </div>
            </div>*@
            <div class="form-group">
                <label class="col-md-4 control-label">เคยศึกษาที่โรงเรียน</label>
                <div class="col-md-6">
                    <h5>@Model.StudentSchool</h5>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ระดับ</label>
                <div class="col-md-6">
                    <h5>@Model.StudentSchoolGrade</h5>
                </div>
            </div>

        </div>
    </div>       

    @* หลักฐานและค่าธรรมเนียม *@
    <div>
        <h3 class="text-center">หลักฐานและค่าธรรมเนียม</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">สำเนาทะเบียนบ้าน</label>
                <div class="col-md-6">
                    @if (Model.HomeLicenseURL != null)
                    {
                        <a class="btn btn-default" href="@Model.HomeLicenseURL" target="_blank">View</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">สำเนาสูติบัติ</label>
                <div class="col-md-6">
                    @if (Model.BornLicenseURL != null)
                    {
                        <a class="btn btn-default" href="@Model.BornLicenseURL" target="_blank">View</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">รูปถ่าย</label>
                <div class="col-md-6">
                    @if (Model.PicLicenseURL != null)
                    {
                        <a class="btn btn-default" href="@Model.PicLicenseURL" target="_blank">View</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">สมุดรายงานประจำตัวเด็ก (ถ้ามี)</label>
                <div class="col-md-6">
                    @if (Model.StudyBookLicenseURL != null)
                    {
                        <a class="btn btn-default" href="@Model.StudyBookLicenseURL" target="_blank">View</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ค่าธรรมเนียมการเรียน</label>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            เบิกได้ จำนวน
                        </label>
                        <label>
                            <span> @Model.RefunCost บาท</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            เบิกไม่ได้ จำนวน
                        </label>
                        <label>
                            <span> @Model.NoRefunCost บาท</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ค่าธรรมเนียมอื่นๆ</label>
                <div class="col-md-6">
                    <span>@Model.CostEtc</span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="pull-left">
            <a href="/AdminManage/Index" class="btn btn-default btn-lg">กลับ</a>
        </div>
        @if (!Model.IsVerified)
        {
            <div class="pull-right">
                <a href="@Url.Action("CheckedStudent", new { id = Model.id})" class="btn btn-primary btn-lg">เป็นสถานะเป็นตรวจแล้ว</a>
            </div>
        }        
    </div>

</div>

