@model SuraswadeeWeb.Models.Student


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="well">
    <h2 class="text-center">แบบฟอร์มสมัคร โรงเรียนสุรัสวดี</h2>

@using (Html.BeginForm("RegisterCompleted", "Register", FormMethod.Post))
{
    @* ข้อมูลผู้ปกครอง *@
    <div>
        <h3 class="text-center">ข้อมูลผู้ปกครอง</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">คำนำหน้าชื่อ ผู้ปกครอง</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentTitle, new { @type = "text", @class = "form-control", @placeholder = "นาย,นาง,นางสาว", @required="required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ชื่อ ผู้ปกครอง</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentFirstName, new { @type = "text", @class = "form-control", @placeholder = "ชื่อ ผู้ปกครอง", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">นามสกุล ผู้ปกครอง</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentLastName, new { @type = "text", @class = "form-control", @placeholder = "นามสกุล ผู้ปกครอง", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">อยู่บ้านเลขที่</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentHomeNo, new { @type = "text", @class = "form-control", @placeholder = "อยู่บ้านเลขที่", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">หมู่ที่</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentMoo, new { @type = "text", @class = "form-control", @placeholder = "หมู่ที่" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ถนน</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentDistrict, new { @type = "text", @class = "form-control", @placeholder = "ถนน" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ตำบล</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentTambon, new { @type = "text", @class = "form-control", @placeholder = "ตำบล" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">อำเภอ</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentAmpere, new { @type = "text", @class = "form-control", @placeholder = "อำเภอ" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">จังหวัด</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.ParentProvince, @ViewBag.ProvinceList as List<SelectListItem> , new { @class = "form-control", required = true })                    
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">รหัสไปรษณี</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentZipcode, new { @type = "text", @class = "form-control", @placeholder = "รหัสไปรษณี", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">อาชีพ</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentOccupation, new { @type = "text", @class = "form-control", @placeholder = "อาชีพ", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">สถานที่ทำงาน</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentOccupationLocation, new { @type = "text", @class = "form-control", @placeholder = "สถานที่ทำงาน" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">หมายเลขโทรศัพท์ ผู้ปกครอง</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentMoblie, new { @type = "text", @class = "form-control", @placeholder = "หมายเลขโทรศัพท์ ผู้ปกครอง", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">มีฐานะเป็น</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.ParentStatus, @ViewBag.ParentStatusList as List<SelectListItem>, new { @class = "form-control", required = true })
                </div>
            </div>
        </div>
    </div>

    @* ข้อมูลนักเรียน *@
    <div>
        <h3 class="text-center">ข้อมูลนักเรียน</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">หลักสูตรที่สมัคร</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.CourseType, @ViewBag.CourseTypeList as List<SelectListItem>, new { @class = "form-control", required = true })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ปีการศึกษา</label>
                <div class="col-md-6">
                   @Html.DropDownListFor(model => model.Year, @ViewBag.CourseYearList as List<SelectListItem>, new { @class = "form-control", required = true })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">คำนำหน้าชื่อ นักเรียน</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.StudentTitle, new { @type = "text", @class = "form-control", @placeholder = "เด็กชาย,เด็กหญิง", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ชื่อ นักเรียน</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.StudentFIrstName, new { @type = "text", @class = "form-control", @placeholder = "ชื่อ นักเรียน", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">นามสกุล นักเรียน</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.StudentLastName, new { @type = "text", @class = "form-control", @placeholder = "นามสกุล นักเรียน", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ชื่อเล่น</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.StudentNickName, new { @type = "text", @class = "form-control", @placeholder = "ชื่อเล่น", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">วันเดือนปีเกิด</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.StudentBirthDay, new { @type = "date", @class = "form-control", @placeholder = "วันเดือนปีเกิด", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">เคยศึกษาที่โรงเรียน</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.StudentSchool, new { @type = "text", @class = "form-control", @placeholder = "เคยศึกษาที่โรงเรียน" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ระดับ</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.StudentSchool, new { @type = "text", @class = "form-control", @placeholder = "ระดับ" })
                </div>
            </div>

        </div>
    </div>

    @* หลักฐานและค่าธรรมเนียม *@
    <div>
        <h3 class="text-center">หลักฐานและค่าธรรมเนียม</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">สำเนาทะเบียนบ้าน</label>
                <div class="col-md-6">
                    <input type="file">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">สำเนาสูติบัติ</label>
                <div class="col-md-6">
                    <input type="file">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">รูปถ่าย</label>
                <div class="col-md-6">
                    <input type="file">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">สมุดรายงานประจำตัวเด็ก (ถ้ามี)</label>
                <div class="col-md-6">
                    <input type="file">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ค่าธรรมเนียมการเรียน</label>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> เบิกได้ จำนวน
                        </label>
                        <label>
                            @Html.TextBoxFor(model => model.RefunCost, new { @type = "text", @class = "form-control", @placeholder = "เบิกได้ จำนวน" })
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> เบิกไม่ได้ จำนวน
                        </label>
                        <label>
                            @Html.TextBoxFor(model => model.NoRefunCost, new { @type = "text", @class = "form-control", @placeholder = "เบิกไม่ได้ จำนวน" })
                        </label>
                    </div>        
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ค่าธรรมเนียมอื่นๆ</label>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.CostEtc, new { @class = "form-control", @placeholder = "ค่าธรรมเนียมอื่นๆ" })
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <input class="btn btn-primary btn-lg" type="submit" value="ส่งใบสมัคร">
    </div>
}
</div>
